

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 300px;
    margin: auto;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 500px;
    margin: 10px auto;
    gap: 20px;
}

.selection{
    width: 200px;
    height: 100px;
}

.rock-image{
    background-image: url(rock.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;

}

.hand-image{
    background-image: url(hand.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.scissor-image{
    background-image: url(scissor.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.box {
    border: 1px solid black;
}

h2 { 
    text-align: center;
    font-size: 20px;
}

.button {
    border-radius: 5px;
    font-size: 15px;
    height: 40px;
    transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  transform: scale(1.2);
}

.title {
    text-align: center;
}
.footer {
     background-color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
}
.scoreNumber {
    padding: 0px;
    font-size: 30px;
}



.refresh {
    cursor: pointer;
    margin: 10px auto;
    padding: 15px 7px;
    width: 20%;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
}

#comments{
    font-size: 1.5rem;
    margin-top: 10px;
}

#headerWinner{
    font-size: 1.8rem;
    margin-top: 10px;
}

.hide {
    display: none; 
}
.show {
    display: block;
}
